/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */


:root {
  --ifm-color-primary: #14cabf;
  --ifm-color-primary-dark: #10a299;
  --ifm-color-primary-darker: #0c7973;
  --ifm-color-primary-darkest: #08514c;
  --ifm-color-primary-light: #21e9dd;
  --ifm-color-primary-lighter: #4aede3;
  --ifm-color-primary-lightest: #72f1e9;

  --ifm-color-gray-0: hsl(220, 100%, 100%);
  --ifm-color-gray-100: hsl(220, 65%, 98%);
  --ifm-color-gray-200: hsl(220, 60%, 94%);
  --ifm-color-gray-300: hsl(220, 55%, 90%);
  --ifm-color-gray-400: hsl(220, 35%, 75%);
  --ifm-color-gray-500: hsl(220, 25%, 65%);
  --ifm-color-gray-600: hsl(220, 15%, 50%);
  --ifm-color-gray-700: hsl(220, 25%, 35%);
  --ifm-color-gray-800: hsl(220, 35%, 25%);
  --ifm-color-gray-900: hsl(220, 55%, 15%);
  --ifm-color-gray-1000: hsl(220, 60%, 10%);

  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);

  --ifm-card-background-color: var(--ifm-color-emphasis-0);

  --ifm-color-content: var(--ifm-color-emphasis-700);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-0);

  --ifm-dropdown-link-color: var(--ifm-color-emphasis-700);

  --ifm-font-family-base: Inter, sans-serif;

  --ifm-footer-background-color: #011d2d;
  --ifm-footer-color: var(--ifm-color-gray-300);
  --ifm-footer-link-color: var(--ifm-color-gray-300);
  --ifm-footer-link-hover-color: var(--ifm-color-gray-0);
  --ifm-footer-title-color: var(--ifm-menu-color);

  --ifm-global-border-width: 1px;
  --ifm-global-radius: 0.5rem;

  --ifm-heading-color: var(--ifm-color-emphasis-900);
  --ifm-heading-font-family: 'Metropolis Semi Bold', sans-serif;
  --ifm-heading-font-weight: var(--ifm-font-weight-normal);

  --ifm-hero-background-color: #dcdce5;

  --ifm-hover-overlay: var(--ifm-color-emphasis-100);

  --ifm-hr-border-color: #fff;
  --ifm-hr-border-width: var(--ifm-global-border-width);

  --ifm-link-hover-decoration: underline;

  --ifm-menu-color: var(--ifm-color-emphasis-600);
  --ifm-menu-color-active: var(--ifm-color-emphasis-1000);

  --ifm-navbar-item-padding-horizontal: 1.5rem;
  --ifm-navbar-link-color: var(--ifm-color-emphasis-600);
  --ifm-navbar-link-hover-color: #dcdce5;
  --ifm-navbar-padding-horizontal: 1.5rem;
  --ifm-navbar-shadow: none;

  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--ifm-color-emphasis-300);
  --ifm-scrollbar-thumb-hover-background-color: var(--ifm-color-emphasis-400);

  --ifm-toc-border-color: #fff;
  --ifm-toc-link-color: var(--ifm-menu-color);
  --ifm-toc-padding-vertical: 0.25rem;
  --ifm-toc-padding-horizontal: 1rem;

  --site-color-favorite-background: var(--ifm-color-emphasis-100);
  --site-color-tooltip: #fff;
  --site-color-tooltip-background: #353738;
  --site-color-svg-icon-favorite: #e9669e;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 25%);

  
}

:root[data-theme='dark'] {
  --ifm-color-content: #dcdce5;
  --ifm-color-content-inverse: #dcdce5;

  --ifm-background-color: #011d2d;
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);

  --ifm-card-background-color: #011d2d;

  --ifm-hero-background-color: #011d2d;

  --ifm-hover-overlay: #dcdce5;

  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--ifm-color-emphasis-300);
  --ifm-scrollbar-thumb-hover-background-color: var(--ifm-color-emphasis-400);
}

:root {
  --ifm-color-primary: #dcdce5;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  /* Homepage */
  --footer-background: #dcdce5;
  /* Footer */
  --footer-background: #dcdce5;
  --footer-color: #011d2d;
  /* # Navbar */
  --navbar-border-line: #094651;
  --navbar-content-hover: #011d2d;
  --navbar-content: #011d2d;
  /* About card*/
  --card-background-color:#dcdce5;
  --card-border-color:#223343;
  /* Hero */
  --hero-color:#011d2d;
  /*Table of contents*/
  --table-content-color: #223343;
  --table-content-color-hover: #798486;

  --a:#011d2d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #011d2d;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --header: #fff;
  /* Footer */
  --footer-background: #011d2d;
  --footer-color: #dcdce5;
  /* # Navbar */
  --navbar-border-line: #094651;
  --navbar-content-hover: #dcdce5;
  --navbar-content: #dcdce5;
  /* About card*/
  --card-background-color:#223343;
  --card-border-color:#223343;
  /* Hero */
  --hero-color:#dcdce5;
  /*Table of contents*/
  --table-content-color: #fff;
  --table-content-color-hover: #223343;
  /*Menu */
  --menu-link-active: #556f87;
  --menu-link-hover: #223343;
  --a:#dcdce5;

} 